// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
// Components
@import "navbar.scss";
@import "masthead.scss";
@import "bootstrap-overrides.scss";

// Custom CSS
section{
  border-bottom: 1px solid #cccccc;

  &:last-of-type {
    border-bottom: none;
  }
}

#minipagination{
  text-align: center;
  margin: 20px;
}

#sessionA, #sessionB{
  padding: 15px;

  h1{
    margin: 15px 0px 0px 25px;
  }
}

#endMsg{
  margin-top: 30px;
}

/*********************************
TASKS!!!
*********************************/
.task-align-cc{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
}
/**
TASK 4A
**/
.folders-group{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.folder-img{
  width: 210px;
  max-width: 210px;
  height: auto;
}

.folder{
  margin-right: 70px;
  text-align: center;
}

/**
TASK 4B
**/
.p-5{
  .balloon-4b{
    text-align: center;
  }
}
.bg-circle-4b{
  display: inline-block;
  border-radius: 100%;
  background: radial-gradient($primary 0%, $secondary 100%);
  width: 50px;
  max-width: 450px;
  height: 50px;
  max-height: 450px;
}
