<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>
    <section>
      <div class="container" id="task_3a">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Scrolling Up and Down</h2>
              <p>For this task, you are required to <b>scroll down in the little window</b>, all the way down; then, you are required to <b>copy the last line at the end</b>.</p>
              <p>Finally, scroll all the way up and paste the text in the box provided at the top.</p>
            </div>
          </div>
            <div class="col-lg-6 order-lg-2">
              <!-- <div class="p-5">
                <img class="img-fluid rounded-circle" src="img/01.jpg" alt="">
              </div> -->
            </div>
        </div>
      </div>
    </section>
  </body>
</html>
