<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>
    <section>
      <div class="container" id="task_2a">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">Going in Circles</h2>
              <p>For this task, you are required to go in a circle for three times Clockwise (Right to Left in a circular motion). Stay in the shaded region as you go around.</p>
              <p>Please begin at your own leisure.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
