<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/one-page-wonder.min.css" rel="stylesheet">
  </head>

  <body>
    <section>
      <div class="container" id="task_4a">
        <div class="row align-items-center task-align-cc">
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">Find the Folder</h2>
              <p>For this task, you are required to locate the secret folder. The name of the folder you need to double-click on will appear to you.<p>
            	<p>Keep clicking the right folder and you'll be in for a Good day!</p>
              <p>Word:</p>
              <h3 id="selectedWord"></h3>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row folder-group">
              <div class="folder">
                <img class="folder-img" src="../img/folder.svg" alt="" id="folder_area_1">
                <h4 id="folder_label_1">Folder One</h4>
              </div>
              <div class="folder">
                <img class="folder-img" src="../img/folder.svg" alt="" id="folder_area_2">
                <h4 id="folder_label_2">Folder Two</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Load THIS TASK specific javascript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../brow/js/tasks/task4a.js"></script>
  </body>
  </body>
</html>
