<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>
    <section>
      <div class="container" id="task_1b">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">Click and Hide</h2>
              <p>For this task, you are required to click on the button as they pop up. the test begins once you click the first button bellow.</p>
            	<p>Please begin at your own leisure. </p>
            </div>
          </div>
            <div class="col-lg-6">
              <!-- <div class="p-5">
                <img class="img-fluid rounded-circle" src="img/02.jpg" alt="">
              </div> -->
            </div>
        </div>
      </div>
    </section>
  </body>
</html>
