<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>
    <section>
      <div class="container" id="task_5a">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Drag and Drop</h2>
              <p>For this task, you are required to drag the ball and drop it in the lighted column.</p>
            	<p>You can only move the ball horizontally using the mouse. Good Luck and have fun.</p>
            </div>
          </div>
            <div class="col-lg-6 order-lg-2">
              <!-- <div class="p-5">
                <img class="img-fluid rounded-circle" src="img/01.jpg" alt="">
              </div> -->
            </div>
        </div>
      </div>
    </section>
  </body>
</html>
